@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* pink #FC4557*/


/* lavender #EFF1FB*/
/**/

/*elements*/
a{
    color:#757579 !important;
    text-decoration: none  !important ;
  }

a:hover{
    color: black !important;
}

li a{
    color: black !important;
}
li a:hover{
    color:#222F94 !important;
    text-decoration: none  !important ;
}


.main{
    min-height:80vh;
    width:100vw;
    background-color:#FFEDEF;
    color:black;
    border-left: 1px solid #222F94;
    border-right: 1px solid #222F94;
    
}

.footer-layout{
    background-color: #FFEDEF;
    border: 1px solid #222F94;
    min-height:10vh;
    color:#757579;
}


.footer-layout a {
    color:#757579 !important;
    text-decoration: none !important;
}
.footer-layout a:hover {
    color: black !important;
    text-decoration: none !important;
}

.study-image{
    width:100%;

}

ul {
    list-style-type: none !important;
}

.offCanvasColor{
    background-color: #FFEDEF;
}

.full-page-wrapper{
    width:100vw;
    height:100vh;
}

.flash-card-textarea{
    width:80%;
}
.flash-card-nav{
    width:100vw;
}

.flash-card-face{
    height:100%;
    overflow-x:hidden;
}
.logout-button{
    border:0;
    padding:0;
    background-color:#FFEDEF;
    color:#757579;

}
.logout-button:hover{
    color:black;
}

.study-time{
    color:black !important;
}
.study-time:hover{
    color:white !important;
}

.login-link{
    color:#FC4557 !important;
}
.home-card{
    width:60%;
    height:90%;
}



/*Color*/

.pink{
    color:#FC4557;
}

.blue{
    color:#222F94;
}

.lavender{
    color:#EFF1FB;
}

.bg-lav{
    background-color: #5665D9;
}

.bg-main{
    background-color: #222F94;
    color:white;
}
.bg-pink{
    background-color: #FC4557;
}



/*sizing*/

.rem7{
    height: 7rem;
}

.rem5{
    height: 5rem;
}

.rem3{
    height: 3rem;
}

.rem12-w{
    width: 12rem;
}

.full-height{
    min-height:80vh;
}

@media screen and (max-width: 786px) {
    .full-height{
        min-height:40vh;
        /* margin-top:7em; */
    }
    
}

.small-font{
    font-size: 14px;
    font-style: italic;
}

.codingBuddyLogo{
    width:25rem;
}

.no-padding{
    padding:0px
}

/*fonts*/

.mono-font{
    font-family: 'Share Tech Mono', monospace;
}

/*misc*/

.drop-shadow{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

