

.main{
    min-height:80vh;
    width:100vw;
    /* background-color: yellow; */
    color:black;
    
}

.no-padding{
    padding:0px
}


.footer-grid{
    /* min-height:15vh; */
    border: 1px solid black;
    width:100%;
}

.feature-menu{
    height:100%;
}

.feature-menu-item{
    height:33%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.feature-grid{
    height:100%;
}
.feature-col{
    height:100%
}