

.main{
    min-height:80vh;
    width:100vw;
    background-color: #f9d4fe;
    color:black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}

.no-padding{
    padding:0px
}


.footer-layout{
    background-color: #f9d4fe;
    border: 1px solid black;
    min-height:10vh;
}

.yellow{
    background-color: #f9d4fe;
}

.full-height{
    min-height:80vh;
}

@media screen and (max-width: 786px) {
    .full-height{
        height:inherit;
        margin-top:7em;
    }
    
}

.rem7{
    height: 7rem;
}

.rem5{
    height: 5rem;
}

.rem3{
    height: 3rem;
}
